.calculator {

  .calculator__button {
    background: #272B33;
    color: white;
    font-size: 45px;
    height: 110px;
    width: 110px;
    border-radius: 25px;
    border: none;
    margin: 5px;
  }
  .calculator__function {
    color: #26F8D2;
    background: #272B33;
  }
  .calculator__operator {
      color: #F37A7A;
      background: #272B33;
  }
  .calculator__button-0 {
    width: 235px;
  //  border-radius: 55px;
    justify-content: flex-start;
    // padding-right: 120px;
  }
}